@import '../../../assets/styles/theme.sass'

.game
    
    .game-buttons

        .btn-saludo
            background-color: $color-saludo-bg
            border-radius: 4px
            border: 2px solid $color-saludo-border
            color: $color-saludo-text
            cursor: pointer
            display: inline-block
            font-family: 'Permanent Marker', cursive
            font-size: 22px
            margin: 4px
            padding: 4px 10px
            text-transform: capitalize
            &:hover
                background-color: $color-saludo-hover-bg
                border: 2px solid $color-saludo-hover-border
                color: $color-saludo-hover-text
