@import url('https://fonts.googleapis.com/css?family=Permanent+Marker')

/* COLORS */
$color-mine-shaft: #333333
$color-gallery: #EEEEEE

/* VARIABLES */
$color-app-sides: $color-mine-shaft
$color-app-bg: $color-gallery